<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TodoList</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <!-- 在此补充代码 -->
        <!-- v-model双向绑定数据 -->
        <input type="text" v-model='inputvalue' placeholder="请输入数字">
        <button v-on:click='topClickBtn'>添加</button>
        <button v-on:click='shanchu'>删除</button>
        <ul>
            <!-- <li v-for='item in concentlist'>{{item}}</li> -->
            <todo-list v-bind:concent='item' 
            v-bind:index='index' 
            v-for='(item,index) in concentlist'
                @delete='handeldelete'>
            </todo-list>
        </ul>
    </div>
    <script>

        var TodoList = {
            props: ['concent', 'index'],
            template: '<li @click="handlBtn">{{concent}}</li>',
            methods: {
                handlBtn: function () {
                    //这里的$emit触发一个delete的事件
                    this.$emit('delete', this.index)
                }
            }
        }
        var app = new Vue({
            components: {
                TodoList: TodoList
            },
            //管理的区域
            el: '#app',
            //管理的数据，固定用法，注意，里面都是键值对的形式
            data: {
                concentlist: [],
                inputvalue: '',
          
            },
            //方法都放在里面
            methods: {
                topClickBtn: function () {
                    if (this.inputvalue == '') {
                        alert('请输入数字')
                    } else {
                        this.$data.concentlist.push(this.inputvalue)
                        this.inputvalue = ''
                    }

                },
                shanchu: function () {
                    if (this.$data.concentlist.length == 0) {
                        alert('没有更多的数据删除了')
                        return;
                    } else {
                        this.$data.concentlist.pop(this.inputvalue)
                    }
                },
                handeldelete: function (index) {
                    // this.concentlist.splice(index,1)
                // this.concentlist[index]=Number(this.concentlist[index])+1
                Vue.set(this.concentlist,index,Number(this.concentlist[index])+1)
                 
                }
            }

        })
    </script>
</body>

</html>